@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Poppins, sans-serif, Arial, Helvetica;
}

html {
    background-color: #744ab8;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    margin: auto;
    border-bottom: 1px solid black;
    padding: 15px;
}

h1#logo {
    color: white;
    font-size: 1.3em;
    cursor: pointer;
    font-weight: 500;
}

header button {
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

#container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(31, 1, 80, 0.26);
}

#TimerOptions {
    display: flex;
    gap: 80px;
}

/*timers*/
#work-timer {
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 1.8em;
    font-weight: bold;
}

#work-timer p {
    font-size: 4em;
}

p {
    color: white;
    margin: 0;
    padding: 0;
}

/*buttons*/

.btn {
    align-self: center;
    justify-self: center;
    width: 180px;
    height: 55px;
    font-size: 2em;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin: 0 8px;
    color: #744ab8;
    cursor: pointer;
}

.btnOptions {
    background-color: transparent;
    border: none;
    padding: 5px 15px;
    font-size: 1.1em;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}