* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
}

html {
    background-color: #744ab8;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
} */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    margin: auto;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
    padding: 15px;
}

h1#logo {
    color: white;
    font-size: 1.3em;
    cursor: pointer;
    font-weight: 500;
}

header button {
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    font-weight: 700;
}

#container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(31, 1, 80, 0.26);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/*timers*/
.label {
    align-self: center;
    justify-self: center;

    font-size: 30px;
    font-weight: bold;
}

#work {
    grid-area: 1 / 2 / 1 / 2;
}
#break {
    grid-area: 1 / 4 / 1 / 4;
}
/* #cycles {
    grid-area: 1 / 3 / 1 / 3;
} */

.timer {
    display: flex;
    align-self: center;
    justify-self: center;

    font-size: 30px;
    font-weight: bold;
}

p {
    color: white;
    margin: 0;
    padding: 0;
}

#counter {
    grid-area: 2 / 3 / 2 / 3;
    color: white;
}

#work-timer {
    grid-area: 2 / 2 / 2 / 2;
}

#break-timer {
    grid-area: 2 / 4 / 2 / 4;
}

/*buttons*/

.btn {
    align-self: center;
    justify-self: center;
    

    width: 100px;
    height: 30px;

    font-size: 20px;
}

#start {
    grid-area: 3 / 2 / 3 / 2;
}

#reset {
    grid-area: 3 / 4 / 3 / 4;
}

/* #stop {
    grid-area: 3 / 4 / 3 / 4;
} */